.caixa-dialogo{
    background-color: #fafafa;
    border: solid 1px hsl(0, 3%, 87%);
    width: 250px;
    height: auto;
    position: relative;
    border-radius: 7px;
    top: -7px;
    left: 25px;
    opacity: 0;
}

.caixa-dialogo.visivel{
    opacity: 1;
    transition: opacity 1s;
}

.caixa-dialogo p{
    padding: 7px;
    color: #696868;
    font-weight: bold;
}

.caixa-dialogo::after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid hsl(0, 3%, 87%) 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 25%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.barra-riscos{
    height: 500px;
    left: 440px;
    top: 300px;
    width: 680px;
    position: absolute;
    /* background-color: #FFFFFF; */
    /* box-shadow: 0 0 10px #696868; */
    /* border: solid 1px hsl(0, 2%, 78%) ; */
    padding: 7px;
    opacity: 0;
    z-index: -7;
    transition: opacity 0.1s;
}

.barra-grupos{
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 35px !important;
    height: auto;
    left: 256px;
    width: 240px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px #696868;
    border: solid 1px hsl(0, 2%, 78%);
    margin: 7px;
}

.barra-riscos.visivel{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    left: 0;
    background-color: hsla(0, 0%, 100%, 0.973);
    opacity: 1;
    transition: opacity 0.1s;
    z-index: 12;
}

.barra-riscos span{
    color: #696868;
    font-weight: bold;
    font-size: 11pt;
    text-align: center;
}

.fechar-barra-riscos{
    position: absolute;
    right: 20px;
    z-index: 70;
    /* top: -40px; */
    text-decoration: none;
}

.list-risco{
    background-color: #FFFFFF;
    margin:3px;
    padding: 3px;
    width: 160px;
    margin-left: 20px;
}

.table-plan-riscos {
    width: 98%;
    font-size: 9pt;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.head-riscos{
    background-color: #470BF2;
    color: #FFFFFF;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: none;
}
.head-riscos th{
    width: 7%;
}
.head-riscos tr{
    height: 30px;
}
.head-riscos tr th{
    text-align: center;
}
.head-risc-inter{
    padding: 5px;
}
.corpo-table-riscos{
    background-color: #FFFFFF;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: none;
}
.corpo-table-riscos td{
    width: 7%;
}

.corpo-table-riscos input{
    border: 0;
    background-color: #FFFFFF;
    border-bottom: solid 1px #f5f0f0;
    height: 35px;
    margin-left: 3px;
    width: 90%;
}
.corpo-table-riscos select{
    width: 90%;
    border: 0;
    height: 35px;
    font-size: 9pt;
    border-bottom: solid 1px #f5f0f0;
}
.option-alto{
    background-color: #f18585;
    color: #FFFFFF;
}
.option-medio{
    background-color: #f7dfad;
    color: #FFFFFF;
}
.option-baixo{
    background-color: #d4f39a;
    color: #FFFFFF;
}

/* Riscos Ocupacionais */
.plan-grupo-fisico{
    background-color: #51E80A;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.plan-grupo-quimico{
    background-color: #F00707;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.plan-grupo-biologico{
    background-color: #B55007;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.plan-grupo-ergonomico{
    background-color: #f5b733;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.plan-grupo-acidente{
    background-color: #0b5cf2;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.agente-risco{
    font-size: 12pt;
    color: #918e8e;
    font-weight: bold;
    margin-left: 9px;
}
.painel-principal{
    height: 220px;
}
.painel{
    width: 100%;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 0 10px #e0dede;
}
.logo-cliente{
    width: 70px;
    height: 70px;
    padding: 10px;
    float: left;
}
.dados-cliente{
    margin-top: 10px;
    width: 200px;
    float: left;
}
.calend-aval{
    padding-top:150px;
    margin-left:10px;
    padding-right: 1px;
}
.table-ges{
    width: 100%;
}
.header-ges{
    width: 100%;
    background-color: #02add8;
}
.header-ges tr{
    height: 40px;
    color: #FFFFFF;
    width: 100%;
    text-align: center;
}
.head-setor{
    width: 100%;
    /* border: 2px solid #696868; */
}
.head-setor tr{
    border: 2px solid #696868;
}
.id-ges{
    font-weight: bold;
}
.td-normal{
    font-size: 9pt;
}
.td-bold{
    font-size: 11pt;
    font-weight: bold;
}
.table-aval{
    width: 100%;
}
.head-aval{
    width: 100%;
    background-color: #3d3d3d;
}
.head-aval tr{
    color:#FFFFFF;
    height: 30px;
}
.head-aval tr td{
    font-size:8pt;
    padding: 3px;
}
.corpo-aval tr td{
    border: 1px solid #696868;
}


@media (max-width:1440px){
    .barra-riscos{
        height: auto;
        left: 256px;
        width: 667px;
    }
}
  