<%- include('../shared/header') %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"><span data-feather="users"></span> Clientes</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2" id='menu-interno'>
            <button type="button" class="btn btn-sm btn-outline-secondary">Novo Cliente</button>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button> -->
          </div>
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Esta semana
          </button> -->
        </div>
     </div>
     <div class="container-flex">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Razão Social</th>
                <th scope="col">Nome Fantasia</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td></td>
                <td></td>
              </tr>
             
            </tbody>
          </table>
          
         

     </div>

</main>

<%- include('../shared/footer') %>